.cardsContainer{
    width: 800px;
    height: auto;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.content > img {
    width: 600px;
    height: 300px;
}

h1 {
    text-align: center;
}

.content {
    text-align: center;
}

